<div class="row">
    <div class="col-sm-12">
        <div>
            <div style="float:left">
                <label>IIDs:</label>
                <br/>
                <textarea rows="10" [(ngModel)]="IIDs" style="width=200px" style="resize:none; width:200px; height:270px">
                </textarea>
            </div>

            <div style="float:right">
                <button (click)="doLogout()" class="nav-link btn btn-danger-outline" href="#">Logout {{userName}}</button>
            </div>

            <div style="float:left; margin:0px 0px 0px 20px">
                <label>Species:</label>
                <br/>
                <select (change)="onMaterialSpeciesSelected($event.target.value)" style="width:200px">
                    <option value="-1" disabled> -- select a species -- </option>
                    <option *ngFor="let species of MaterialSpecies" value="{{species.ID}}">
                        {{species.NAME}}
                    </option>
                </select>
                <br/>
                <br/>

                <label>Class:</label>
                <br/>
                <select id="materialClass" [(ngModel)]="SelectedMaterialClass" (change)="onMaterialClassSelected($event.target.value)" style="width:200px">
                    <option value="-1" disabled> -- select a class -- </option>
                    <option *ngFor="let class of MaterialClasses" value="{{class.ID}}">
                        {{class.NAME}}
                    </option>
                </select>
                <br/>
                <br/>

                <label>Family: </label>
                <br>
                <select [(ngModel)]="SelectedMaterialFamily" (change)="onMaterialFamilySelected($event.target.value)" style="width:200px">
                    <option value="-1" disabled> -- select a family -- </option>
                    <option *ngFor="let family of MaterialFamilies" value="{{family.ID}}">
                        {{family.NAME}}
                    </option>
                </select>
                <br/>
                <br/>

                <label>Type: </label>
                <br>
                <select [(ngModel)]="SelectedMaterialType" (change)="onMaterialTypeSelected($event.target.value)" style="width:200px">
                    <option value="-1" disabled> -- select a type -- </option>
                    <option *ngFor="let type of MaterialTypes" value="{{type.ID}}">
                        {{type.NAME}}
                    </option>
                </select>
                <br/>
                <br/>

                <button [disabled]="!authenticated" (click)="transfer()">Transfer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" [style.display]="IsBusy ? 'block' : 'none'">
    <div class="center">
        <img alt="" src="images/loading.gif" />
    </div>
</div>