<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    
  <system.web>
    <customErrors>
       <error redirect=”index.html” statusCode=”404″ />
    </customErrors>
  </system.web>
    
  <system.webServer>    
    <staticContent>
      <mimeMap fileExtension=".ts" mimeType="application/x-typescript" />
    </staticContent>
  </system.webServer>

</configuration>
